.searching-label {
  margin: 0 0 0 2rem;
  color: #FF7B2E;
  font-weight: bold;
  font-size: 1.2rem;
}

.course-nav .btn-group a.active {
  background: #b2ecf2 !important;
  color: black;
  font-weight: bold;
  border: #131d60 solid 1px;
}

.paging-view li a, .paging-view li a:active{
  background: #b2ecf2 !important;
  box-shadow: 0 0 2px #5d687f !important;
}

.paging-view li.active a{
  background: #131d60 !important;
  color: white;
  font-weight: bold;
}

.paging-view a.prev,
.paging-view a.next,
.paging-view a.first,
.paging-view a.last{
  font-weight: bold;
}

/*Course nav*/

.category-toggle-view {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.course-nav {
  margin: 0.6rem 0 0;
}

.category-toggle-view button {
  margin-right: 0;
}

.category-toggle-view .category-label {
  color: #131d60;
  font-weight: bold;
  font-size: 1.2rem;
}

.category-toggle-view .category-label .category, .searching-label .key-word {
  font-weight: normal;
  font-style: italic;
}

.searching-label i {
  color: #cf3c3c;
  font-size: 1rem;
  margin-left: .8rem;
  display: none;
  cursor: pointer;
}
.searching-label:hover i {
  display: inline;
}

.course-nav .btn-group a {
  height: 2rem;
  width: 5rem;
  padding: 0;
  color: white;
  background: #131d60 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Course nav.*/

/*Category sidebar*/
#sidebar-wrapper {
  background: #b2ecf2;
  color: #131d60;
}

.sidebar-brand {
  border-bottom: solid 1px #131d60;
}

.sidebar-item a {
  color: black !important;
}

.sidebar-item a:hover {
  color: #131d60 !important;
  font-weight: bold;
  box-shadow: 0 0 3px #5d687f;
}

.sidebar-item.active a {
  color: #131d60 !important;
  font-weight: bold;
  text-shadow: 0 0 2px #5d687f;
}

/*Category sidebar.*/

/*Card list*/
.card {
  border-radius: 10px;
}

.card-img-top {
  height: 11rem;
  object-fit: cover !important;
}

.view.overlay {
  border-radius: 10px 10px 0 0;
}

.card-detail {
  height: 3.7rem;
}

.card-body {
  padding: 1.5rem;
  font-size: 1rem;
}

.card-title {
  color: #131d60;
  font-size: 1.2rem;
}

.card-subtitle {
  color: #cf3c3c;
  font-size: 1.2rem;
}

.max-lines-2 {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2rem;
  line-height: 1rem;
}

.nb-used {
  color: #FF7B2E;
  font-style: italic;
  font-size: .8rem;
}

.title-max-lines-2 {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  height: 2.4rem;
  line-height: 1.2rem;
}

.more-detail-btn {
  background: #131d60 !important;
  border: solid 2px #b2ecf2 !important;
  font-weight: bold;
  color: white !important;
  font-size: 1.2rem;
}

/*Card list.*/
