.control-label {
  font-size: 1.4rem;
  font-weight: bold;
}

.img-thumbnail {
  background: #131d60;
}

.price-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 1;
}

.price-append {
  background: #e9ecef;
  border: 1px solid #ced4da;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 2.4rem;
  padding: 0 0.5rem;
  z-index: 0;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

label[for="thumbnailInput"] {
  height: 12rem;
}

.card {
  background: #b2ecf2 !important;
  box-shadow: 0 0 3px #5d687f;
  border-radius: 10px;
}

.form-control, .price-append {
  border-radius: 5px;
  box-shadow: 0 0 3px #5d687f;
}

/*ckeditor*/
#cke_shortDescription .cke_inner, #cke_shortDescription {
  border-radius: 5px !important;
}

#cke_shortDescription .cke_top {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 0 3px #5d687f;
}

#cke_1_contents {
  font-size: 1rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 0 3px #5d687f;
}

/*ckeditor.*/

.price-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.price-append {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}