* {
    padding: 0;
    margin: 0;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.modal-dialog {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1; /* Firefox */
}
.form-control::-webkit-input-placeholder {
    color: gray;
}
.form-control:-moz-placeholder {
    color: gray;
}
.form-control::-moz-placeholder {
    color: gray;
}
.form-control::placeholder {
    color: gray;
}
.form-control:-ms-input-placeholder {
    color: gray;
}