.input-group-prepend .input-group-text {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date input {
  width: 100%;
  border: none;
  padding: 0;
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  border: solid 2px black;
}

.avatar-replace {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  border: solid 2px black;
  background: rgba(160,160,160,0.32);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-replace i {
  font-size: 5rem;
}

.avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
}

.card {
  box-shadow: 0 0 3px #000000;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#registerForm {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-width: 15rem;
  max-width: 25rem;
}

.form-control {
  border-radius: 0 5px 5px 0 !important;
  background: white !important;
  box-sizing: border-box;
}

.form-control:focus {
  outline: none !important;
  box-shadow:none !important;
}

.phone-prefix {
  border-radius: 0 !important;
}

.form-control.is-invalid {
  border-width: 2px;
}