.input-group-prepend .input-group-text {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date input {
  width: 100%;
  border: none;
  padding: 0;
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem !important;
  border: solid 2px #131d60 !important;
  object-fit: cover;
}

.avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.avatar-feedback {
  position: absolute;
  top: -2rem;
}

.card {
  box-shadow: 0 0 3px #000000;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#registerForm, #loginForm {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  max-width: 25rem;
}

.form-control {
  border-radius: 0 5px 5px 0 !important;
  background: white !important;
  box-sizing: border-box;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.phone-prefix {
  border-radius: 0 !important;
}

.form-control, .form-group .input-group-prepend, .phone-prefix {
  border-radius: 5px;
  box-shadow: 0 0 3px #5d687f;
}

.form-control.is-invalid {
  border-width: 2px;
}


.card {
  background: #b2ecf2;
}

button[type="submit"] {
  background: #131d60 !important;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.login-switch {
  color: #131d60 !important;
}