* {
  padding: 0;
  margin: 0;
}

.input-group-prepend .input-group-text {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date input {
  width: 100%;
  border: none;
  padding: 0;
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  border: solid 2px black;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  display: none;
}

.hide {
  display: block;
}

.modal-dialog {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
}

.card {
  box-shadow: 0 0 3px #000000;
}

.form-control {
  border-radius: 0 5px 5px 0 !important;
  background: white !important;
  box-sizing: border-box;
}

.form-control:focus {
  outline: none !important;
  box-shadow:none !important;
}

.phone-prefix {
  border-radius: 0 !important;
}

.form-control.is-invalid {
  border-width: 2px;
}










































































































































































::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1; /* Firefox */
}
.form-control::-webkit-input-placeholder {
  color: gray;
}
.form-control:-moz-placeholder {
  color: gray;
}
.form-control::-moz-placeholder {
  color: gray;
}
.form-control::placeholder {
  color: gray;
}
.form-control:-ms-input-placeholder {
  color: gray;
}