<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Homepage</title>
  <th:block th:replace="web/fragments/general :: meta"/>
  <th:block th:replace="web/fragments/general :: link"/>
</head>
<body>
<div th:replace="web/fragments/general :: header"></div>
<div id="wrapper" class="wrapper-content">
  <div id="page-content-wrapper">

    <div>
      <!--Mask-->
      <div id="intro" class="view w-100">
        <div class="mask rgba-black-strong">
          <div class="container-fluid d-flex align-items-center justify-content-center h-100">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-md-10">
                <!-- Heading -->
                <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">
                  <div th:replace="web/fragments/general :: simpleLogo(sizeBig=true)"></div>
                </h2>
                <h6 class="white-text">Keep Our Seeds!</h6>
                <!-- Divider -->
                <hr class="hr-light">

                <!-- Description -->
                <h4 class="white-text my-3">Không gian tự học không giới hạn dành cho tất cả mọi người. Tham gia và
                  chọn khóa học của bạn ngay thôi nào</h4>
                <button type="button" class="btn btn-outline-white">Tìm khóa học</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.Mask-->

      <div id="courseList" class="nav-point"></div>

      <div class="container d-flex flex-column align-items-center justify-content-center landing-container">
        <h2 class="row">
          <div class=" display-4 font-weight-bold landing-title">
            Khóa học phổ biến
          </div>

        </h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 course-list">
          <div class="col mt-4 pl-5 pr-5 pl-sm-3 pr-sm-3">
            <!-- Card -->
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top"
                     th:src="@{/web/img/default-thumbnail.png}"
                     alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <a href=""><h4 class="card-title">Khóa học java spring mvc</h4></a>
                <!-- Title -->
                <h4 class="card-subtitle mb-2">5.000.000 VND</h4>
                <!-- Text -->
                <div class="card-detail">
                  <p class="card-text mb-1 max-lines-3">ke up the bulk of
                    the
                    card's
                    content.</p>
                  <div class="nb-used mb-2">30 Học viên</div>
                </div>
                <!-- Button -->
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-primary w-100 m-0 more-detail-btn">Tìm hiểu thêm</a>
                </div>
              </div><!--Card body.-->
            </div><!--Card.-->
          </div><!--Col.-->


          <div class="col mt-4 pl-5 pr-5 pl-sm-3 pr-sm-3">
            <!-- Card -->
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top"
                     th:src="@{/web/img/default-thumbnail.png}"
                     alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <a href=""><h4 class="card-title">Khóa học java spring mvc</h4></a>
                <!-- Title -->
                <h4 class="card-subtitle mb-2">5.000.000 VND</h4>
                <!-- Text -->
                <div class="card-detail">
                  <p class="card-text mb-1 max-lines-3">ke up the bulk of
                    the
                    card's
                    content.</p>
                  <div class="nb-used mb-2">30 Học viên</div>
                </div>
                <!-- Button -->
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-primary w-100 m-0 more-detail-btn">Tìm hiểu thêm</a>
                </div>
              </div><!--Card body.-->
            </div><!--Card.-->
          </div><!--Col.-->
          <div class="col mt-4 pl-5 pr-5 pl-sm-3 pr-sm-3">
            <!-- Card -->
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top"
                     th:src="@{/web/img/default-thumbnail.png}"
                     alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <a href=""><h4 class="card-title">Khóa học java spring mvc</h4></a>
                <!-- Title -->
                <h4 class="card-subtitle mb-2">5.000.000 VND</h4>
                <!-- Text -->
                <div class="card-detail">
                  <p class="card-text mb-1 max-lines-3">ke Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur explicabo in maiores pariatur, possimus. Dolorum odit sint voluptate voluptatem.up the bulk of
                    the
                    card's
                    content.</p>
                  <div class="nb-used mb-2">30 Học viên</div>
                </div>
                <!-- Button -->
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-primary w-100 m-0 more-detail-btn">Tìm hiểu thêm</a>
                </div>
              </div><!--Card body.-->
            </div><!--Card.-->
          </div><!--Col.-->
          <div class="col mt-4 pl-5 pr-5 pl-sm-3 pr-sm-3">
            <!-- Card -->
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top"
                     th:src="@{/web/img/default-thumbnail.png}"
                     alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <a href=""><h4 class="card-title">Khóa học java spring mvc</h4></a>
                <!-- Title -->
                <h4 class="card-subtitle mb-2">5.000.000 VND</h4>
                <!-- Text -->
                <div class="card-detail">
                  <p class="card-text mb-1 max-lines-3">ke up the bulk of
                    the
                    card's
                    content.</p>
                  <div class="nb-used mb-2">30 Học viên</div>
                </div>
                <!-- Button -->
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-primary w-100 m-0 more-detail-btn">Tìm hiểu thêm</a>
                </div>
              </div><!--Card body.-->
            </div><!--Card.-->
          </div><!--Col.-->
          <div class="col mt-4 pl-5 pr-5 pl-sm-3 pr-sm-3">
            <!-- Card -->
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top"
                     th:src="@{/web/img/default-thumbnail.png}"
                     alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <a href=""><h4 class="card-title">Khóa học java spring mvc</h4></a>
                <!-- Title -->
                <h4 class="card-subtitle mb-2">5.000.000 VND</h4>
                <!-- Text -->
                <div class="card-detail">
                  <p class="card-text mb-1 max-lines-3">ke up the bulk of
                    the
                    card's
                    content.</p>
                  <div class="nb-used mb-2">30 Học viên</div>
                </div>
                <!-- Button -->
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-primary w-100 m-0 more-detail-btn">Tìm hiểu thêm</a>
                </div>
              </div><!--Card body.-->
            </div><!--Card.-->
          </div><!--Col.-->
        </div><!--Course list.-->
        <div class="d-flex justify-content-center">
          <a href="#" class="btn btn-outline-light mt-4 more-course-btn">Các khóa học khác</a>
        </div>
      </div>

      <div id="featureList" class="nav-point"></div>

      <div class="container d-flex flex-column align-items-center justify-content-center mb-5 landing-container">
        <h2 class="row">
          <div class="display-4 font-weight-bold landing-title">
            Tính năng nổi bật
          </div>
        </h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 feature-list">
          <!--Col-->
          <div class="col mt-4 col mt-4 pl-5 pl-sm-3 pr-5 pr-sm-3">
            <a href="">
              <div class="card">
                <div class="card-icon ml-3">
                  <i class="fas fa-book"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Khóa học đa dạng</h5>
                  <p class="card-text">Hơn 60k khóa học cung cấp kiến thức dưới dạng video, hình ảnh và bài viết</p>
                </div>
              </div>
            </a>
          </div><!--Col.-->

          <!--Col-->
          <div class="col mt-4 col mt-4 pl-5 pl-sm-3 pr-5 pr-sm-3">
            <a href="">
              <div class="card">
                <div class="card-icon ml-3">
                  <i class="fas fa-box-open"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Lĩnh vực đa dạng</h5>
                  <p class="card-text">Hơn 20 lĩnh vực và thể loại khác nhau giúp bạn thỏa sức khám phá tri thức</p>
                </div>
              </div>
            </a>
          </div><!--Col.-->

          <!--Col-->
          <div class="col mt-4 col mt-4 pl-5 pl-sm-3 pr-5 pr-sm-3">

            <div class="card">
              <div class="card-icon ml-3">
                <i class="fas fa-search-plus"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title">Tìm kiếm dễ dàng</h5>
                <p class="card-text">Dễ dàng tìm kiếm một khóa học bất kỳ, có thểtìm theo thể loại hoặc từ khóa</p>
              </div>
            </div>

          </div><!--Col.-->

          <!--Col-->
          <div class="col mt-4 col mt-4 pl-5 pl-sm-3 pr-5 pr-sm-3">
            <a href="">
              <div class="card">
                <div class="card-icon ml-3">
                  <i class="fas fa-door-open"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Mở khóa học</h5>
                  <p class="card-text">Tự do mở khóa học mới, dễ dàng kiếm thêm thu nhập bằng kiến thức của bạn</p>
                </div>
              </div>
            </a>
          </div><!--Col.-->

          <!--Col-->
          <div class="col mt-4 col mt-4 pl-5 pl-sm-3 pr-5 pr-sm-3">
            <a href="">
              <div class="card">
                <div class="card-icon ml-3">
                  <i class="fas fa-folder-open"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Thêm bài học</h5>
                  <p class="card-text">Có thể thêm bài học vào khóa học không giới hạn, chỉ với một số thao tác đơn
                    giản</p>
                </div>
              </div>
            </a>
          </div><!--Col.-->

          <!--Col-->
          <div class="col mt-4 col mt-4 pl-5 pl-sm-3 pr-5 pr-sm-3">
            <div class="card">
              <div class="card-icon ml-3">
                <i class="fas fa-comments"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title">Bnh luận đánh giá</h5>
                <p class="card-text">Tự do bình luận đánh giá khóa học và người dạy. Được đánh giá giúp bạn nâng cao
                  uy tín</p>
              </div>
            </div>
          </div><!--Col.-->
        </div>
      </div>
    </div>
    <div th:replace="web/fragments/general :: footer"></div>
  </div><!--page wrapper content.-->
</div><!--wrapper content.-->

<!--<h1 th:unless="${session.user}">Welcome!</h1>-->
<!--<h1 th:if="${session.user}">Welcome: <span th:text="${session.user.fullName}"></span></h1>-->
<!--<h3>Demo forms:</h3>-->
<!--<ul>-->
<!--  <li><a href="/login">Login</a></li>-->
<!--  <li><a href="/register">Register</a></li>-->
<!--  <li><a href="/course/new">Open new course</a></li>-->
<!--  <li><a href="/course/1/new-lesson">Create new lesson for courseId=1</a></li>-->
<!--  <li><a href="/admin/manage/category">Admin manage category</a></li>-->
<!--  <li><a href="/admin/manage/media-type">Admin manage media type</a></li>-->
<!--</ul>-->

<th:block th:replace="web/fragments/general :: script"/>

<script th:if="${navFeature}">
  var navFunction = function () {
    $('header a.feature').click();
  }
</script>

<script th:if="${navContact}">
  var navFunction = function () {
    $('header a.contact').click();
  }
</script>

<script>
  $(function () {
    $(".btn-toggle-menu").click(function () {
      $("#wrapper").toggleClass("toggled");
      $('.toggle-btn-view').toggleClass("toggled");
    });

    // scrollTopBtn.click(function () {
    //   $('body,html').animate({
    //     scrollTop: 0
    //   }, 1000);
    //   return false;
    // });
    setScrollToViewHandler($('header a.course'), $('#courseList'));
    setScrollToViewHandler($('header a.feature'), $('#featureList'));
    setScrollToViewHandler($('header a.contact'), $('#contactInfo'));
  })
</script>

</body>
</html>