<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <link rel="stylesheet" type="text/css" th:href="@{/web/css/general.css}" >
  <link rel="stylesheet" type="text/css" th:href="@{/web/css/register.css}" >


</head>
<body>
<div th:replace="web/fragments/general :: header"></div>
<div class="container">
  <hr>
  <div class="card bg-light">
    <article class="card-body mx-auto">
      <h1 class="card-title mt-3 text-center ">Đăng nhập tài khoản</h1>
      <p class="text-center">Đăng nhập và bắt đầu chia sẻ khóa học của riêng mình</p>
      <form id="loginForm" action="/login" method="post">
        <!--Avatar image-->
        <div class="mt-5 mb-5 avatar-container">
          <img class="avatar" th:src="@{/web/img/default-avatar.png}" alt="default avatar">
        </div>
        <!--Username input-->
        <div class="mb-3">
          <div class="form-group input-group mb-0">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="username" class="form-control" placeholder="Tên đăng nhập" type="text">
          </div> <!--form-group.-->
          <small id="usernameHelp" class="form-text text-primary hide"></small>
        </div>

        <!--Password input-->
        <div class="mb-5">
          <div class="form-group input-group mb-0">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name="password" class="form-control" placeholder="Mật khẩu" type="password">
          </div> <!--form-group.-->
          <small id="passwordHelp" class="form-text text-primary hide"></small>
        </div>

        <!--Submit button-->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">ĐĂNG NHẬP</button>
        </div> <!--form-group.-->

        <p class="text-center">Chưa có tài khoản? <a href="/register">Đăng ký</a> </p>
      </form>

      <!--Message dialog-->
      <div th:if="${loginFailed}" class="modal fade" id="messageDialog" tabindex="-1" role="dialog" aria-labelledby="messageDialogLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-danger">
              <h5 class="modal-title text-white" id="messageDialogLabel">Đăng nhập thất bại</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Tên tài khoản hoặc mật khẩu không chính xác<br>Vui lòng đăng nhập lại
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
          </div>
        </div>
      </div><!--Modal.-->

    </article><!--card-body.-->
  </div><!--card.-->
</div><!--container.-->

<div th:replace="web/fragments/general :: footer"></div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script th:if="${loginFailed}">
    $('#messageDialog').modal('show');
</script>

</body>
</html>