<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Đăng ký</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/web/css/register.css}" >


</head>
<body>
<div th:replace="web/fragments/general :: header"></div>
<div class="container">
  <hr>
  <div class="card bg-light">
    <h1 class="card-title mt-3 text-center ">Đăng ký một tài khoản</h1>
    <article class="card-body mx-auto" style="width: 50vw; min-width: 15rem; max-width: 25rem;">
      <p class="text-center">Bắt đầu bằng việc tạo tài khoản miễn phí</p>
      <form id="registerForm" action="/register" method="post" class="needs-validation" novalidate >
        <!--Avatar image-->
        <div class="mt-4 mb-4 avatar-container">
          <img class="avatar" th:src="@{/web/img/default-avatar.png}" alt="default avatar">
        </div>

        <!--Username input-->
        <div class="form-row mb-2">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="username" class="form-control" placeholder="*Tên đăng nhập" type="text" required>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Tên tài khoản không được bỏ trống</div>
          </div> <!--form-group.-->
        </div>

        <!--Full name input-->
        <div class="form-row mb-2">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user-plus"></i> </span>
            </div>
            <input name="fullName" class="form-control" placeholder="*Tên đầy đủ" type="text" required>
            <div class="invalid-feedback">Tên đầy đủ không được bỏ trống</div>
          </div> <!--form-group.-->
        </div>

        <!--Password input-->
        <div class="form-row mb-2">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name="password" class="form-control" placeholder="*Mật khẩu" type="password" required>
            <div class="invalid-feedback">Mật khẩu không được bỏ trống</div>
          </div> <!--form-group.-->
        </div>

        <!--Confirm password input-->
        <div class="form-row mb-2">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input id="confirm-password" class="form-control" placeholder="*Xác nhận mật khẩu" type="password" required>
            <div class="invalid-feedback">Hãy xác nhận mật khẩu</div>
          </div> <!--form-group.-->
        </div>

        <!--Email input-->
        <div class="form-row mb-2">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input name="email" class="form-control no-required" placeholder="Email" type="email">
            <div class="invalid-feedback"></div>
          </div> <!--form-group.-->
        </div>

        <!--Phone number input-->
        <div class="form-row mb-2">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <span class="input-group-text bg-light phone-prefix" style="max-width: 100rem;">
            +84
            </span>
            <input name="phone" class="form-control no-required" placeholder="Số điện thoại" type="text">
            <div class="invalid-feedback"></div>
          </div> <!--form-group.-->
        </div>

        <!--Birthday input-->
        <div class="form-row mb-2">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-birthday-cake"></i> </span>
            </div>
            <div class="form-control date no-required" data-provide="datepicker" data-date-format="dd/mm/yyyy">
              <input name="birth" class="text-dark" type="text" placeholder="Ngày sinh: dd/mm/yyyy" value="">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
          </div> <!--form-group.-->
        </div>

        <!--Work experience input-->
        <div class="form-row mb-2 mt">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-star"></i> </span>
            </div>
            <textarea name="workExperienceInfo" class="form-control no-required" placeholder="Vài dòng về bản thân" type="text"></textarea>
          </div> <!--form-group.-->
        </div>

        <!--Submit button-->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">ĐĂNG KÝ TÀI KHOẢN</button>
        </div> <!--form-group.-->

        <p class="text-center">Đã có tài khoản? <a href="/login">Đăng nhập</a> </p>
      </form>

      <!--Message dialog-->
      <div th:if="${registerStatus != null}" class="modal fade" id="messageDialog" tabindex="-1" role="dialog" aria-labelledby="messageDialogLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header" th:classappend="${registerStatus} ? 'bg-success' : 'bg-danger'">
              <h5 class="modal-title text-white" id="messageDialogLabel" th:text="${registerStatus} ? 'Đăng ký thành công' : 'Đăng ký thất bại'">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" th:utext="${registerStatus} ? 'Chúc mừng bạn đã đăng ký thành công tài khoản<br>Vui lòng đăng nhập' : 'Có gì đó không ổn<br>Vui lòng thử lại sau'">
              Message
            </div>
            <div class="modal-footer">
              <a href="/login" class="btn btn-primary" th:if="${registerStatus}">Đăng nhập ngay</a>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
          </div>
        </div>
      </div><!--Modal.-->


    </article><!--card-body.-->
  </div><!--card.-->
</div><!--container.-->

<div th:replace="web/fragments/general :: footer"></div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script th:if="${registerStatus != null}">
  $('#messageDialog').modal('show');
</script>

<script>
  $(document).ready(function (){

    let submitForm = true;

    function validateUsername(username) {
      let usernamePattern = /^[a-z][a-z0-9]{7,31}$/g;
      return usernamePattern.test(username);
    }

    function validatePassword(password) {
      let passwordPattern = /^(?=.*?[a-zA-Z])(?=.*?[0-9]).{8,32}$/g;
      return passwordPattern.test(password);
    }

    function showInvalid(inputTag, message){
      inputTag.removeClass('is-valid');
      inputTag.addClass('is-invalid');
      inputTag.siblings('.invalid-feedback').html(message);
      submitForm = false;
    }

    function showValid(inputTag, message) {
      inputTag.removeClass('is-invalid');
      inputTag.addClass('is-valid');
      if (message !== undefined) inputTag.siblings('.valid-feedback').html(message);
    }

    $('#registerForm').submit(function (event) {
      submitForm = true;
      //Validate username
      let usernameInp = $('input[name="username"]');
      let username = usernameInp.val();
      if (username.length === 0) {
        showInvalid(usernameInp, 'Tên tài khoản không được bỏ trống');
      }
      else if (!validateUsername(username)) {
        showInvalid(usernameInp, 'Tên tài khoản có độ dài từ 8-32 ký tự, gồm chữ thường, số và phải bắt đầu bằng chữ cái');
      }
      else showValid(usernameInp, 'Tên tài khoản hợp lệ');


      //Validate full name
      let fullNameInp = $('input[name="fullName"]');
      let fullName = fullNameInp.val();
      if (fullName.length === 0) {
        showInvalid(fullNameInp, 'Tên đầy đủ không được bỏ trống');
      }
      else showValid(fullNameInp);

      //Validate password
      let passwordInp = $('input[name="password"]');
      let password = passwordInp.val();
      if (password.length === 0){
        showInvalid(passwordInp, 'Mật khẩu không được bỏ trống');
      }
      else if (!validatePassword(password)) {
        showInvalid(passwordInp, 'Mật khẩu có độ dài từ 8-32 ký tự, phải chứa ít nhất một chữ cái và ít nhất một số');
      } else showValid(passwordInp);

      //Validate password confirm
      let confirmInp = $('#confirm-password');
      let confirmPass = confirmInp.val();
      if (confirmPass.length === 0) {
        showInvalid(confirmInp, 'Hãy xác nhận mật khẩu');
      }
      else if (password !== confirmPass) {
        showInvalid(confirmInp, 'Mật khẩu xác nhận không trùng khớp');
      } else showValid(confirmInp);

      if (!submitForm) {
        event.preventDefault();
        event.stopPropagation();
      }
      return submitForm;
    });
  });
</script>


</body>
</html>