<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Quản lý thể loại</title>
  <th:block th:replace="admin/fragments/general :: meta"/>
  <th:block th:replace="admin/fragments/general :: link"/>
  <link rel="stylesheet" th:href="@{/admin/css/general.css}">
  <link rel="stylesheet" th:href="@{/admin/css/manager.css}">
</head>
<body>
<div th:replace="admin/fragments/general :: header"></div>

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped border">
      <thead class="thead-dark">
      <tr>
        <th class="align-middle" style="width: 5%;">
          <button id="new-btn" type="button" class="btn btn-outline-light table-btn" aria-label="Thêm thể loại"
                  title="Thêm thể loại">
            <i class="fas fa-plus"></i>
          </button>
        </th>
        <th class="align-middle" style="width: 10%;">Id</th>
        <th class="align-middle" style="width: 35%;">Tên thể loại</th>
        <th class="align-middle" style="width: 35%;">Mã thể loại</th>
        <th class="align-middle text-right" style="width: 15%;">
          <button id="delete-all-btn" type="button" class="btn btn-outline-light table-btn" aria-label="Xóa các thể loại được chọn"
                  title="Xóa thể các loại được chọn" message="Bạn có chắc muốn xóa tất cả các thể loại được chọn">
            <i class="fas fa-times"></i>
          </button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr th:id="${category.id}" th:each="category: ${categories}">
        <td class="align-middle" style="width: 5%;">
          <button type="button" class="btn btn-outline-dark table-btn checkbox" aria-label="Chọn"
                  title="Chọn">
            <i class="fas fa-check"></i>
          </button>
        </td>
        <td class="align-middle" style="width: 10%;">
          <span class="id" th:text="${category.id}">Id</span>
        </td>
        <td class="align-middle editable" style="width: 35%;">
          <span class="name" th:text="${category.name}">Tên thể loại</span>
          <input class="form-control name hide" type="text" th:value="${category.name}">
        </td>
        <td class="align-middle editable" style="width: 35%;">
          <span class="code" th:text="${category.code}">Mã thể loại</span>
          <input class="form-control code hide" type="text" th:value="${category.code}">
          <div class="invalid-feedback">
            Mã thể loại đã tồn tại trên hệ thống
          </div>
        </td>
        <td class="align-middle text-right" style="width: 15%;">
          <button type="button" class="btn btn-outline-dark table-btn edit-btn" aria-label="Chỉnh sửa thể loại"
                  title="Chỉnh sửa thể loại">
            <i class="fas fa-edit"></i>
            <span class="font-weight-bold">OK</span>
          </button>
          <button type="button" class="btn btn-outline-dark table-btn delete-btn" aria-label="Xóa thể loại"
                  title="Xóa thể loại" th:message="'Bạn có chắc muốn xóa thể loại ' + ${category.name}">
            <i class="fas fa-times"></i>
          </button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
  <div th:replace="admin/fragments/modal :: confirmModal(
        title='Xác nhận xóa thể loại',
        confirmBtnText='Xóa luôn',
        cancelBtnText='Quay lại'
      )"></div>

</div>

<div th:replace="admin/fragments/general :: footer"></div>
<th:block th:replace="admin/fragments/general :: script"/>
<script th:src="@{/admin/js/common.js}"></script>
<script th:src="@{/admin/js/inline-editable.js}"></script>

<script>
  $(function (){
    useBtnCheckbox();
    setEditButtons('CATEGORY');
    setAddNewButtons('CATEGORY');
    setDeleteButtons('CATEGORY');
  })
</script>

</body>
</html>