<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thêm khóa học</title>
  <th:block th:replace="web/fragments/general :: meta" />
  <th:block th:replace="web/fragments/general :: link" />
  <link rel="stylesheet" th:href="@{/web/css/edit-course.css}">
</head>
<body>
<div th:replace="web/fragments/general :: header"></div>
<div id="wrapper" class="wrapper-content">
<div class="container pt-4">
  <div class="card bg-light">
    <h1 class="card-header form-title">Mở một khóa học mới</h1>
    <div class="container-fluid p-3 p-md-5">
      <form id="editCourseForm" action="/course/new" method="post" novalidate enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-4 details mb-3 h-25 d-flex justify-content-center">
            <label class="w-75" for="thumbnailInput">
              <i id="camera-icon" class="d-none fas fa-camera"></i>
              <img id="imgThumbnail" class="w-100 h-100 img-thumbnail image-preview thumbnail z-depth-1" alt="default thumbnail"
                   th:src="@{/web/img/default-thumbnail.png}" defSrc="/web/img/default-thumbnail.png" src="" role="button"/>
              <input id="thumbnailInput" class="hide" type="file" name="thumbnailFile">
              <div class="invalid-feedback"></div>
            </label>
          </div>
          <div class="col-md-8 right">
            <div class="form-body">
              <div class="form-group">
                <label class="control-label" for="title">Tên khóa học:</label>
                <input id="title" name="title" placeholder="Mọi người có thể tìm thấy khóa học của bạn qua tên"
                       class="form-control input-md" required type="text">
                <div class="invalid-feedback">
                  Tựa đề khóa học không được bỏ trống
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-4">
                  <label class="control-label" for="categoryCode">Thể loại:</label>
                </div>
                <div class="col-md-8">
                  <select id="categoryCode" name="categoryCode" class="form-control custom-select w-75" required>
                    <option value="">Chọn thể loại</option>
                    <th:block th:each="category: ${categories}">
                      <option th:value="${category.code}" th:text="${category.name}">Thể loại</option>
                    </th:block>
                  </select>
                  <div class="invalid-feedback">
                    Vui lòng chọn một thể loại
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-4">
                  <label class="control-label" for="price">Giá bán:</label>
                </div>
                <div class="col-md-8 row m-0">
                  <input id="price" name="price" placeholder="" class="form-control w-50 price-input" value="0" required
                         type="number" min="0" step="500">
                  <span class="rounded price-append">VNĐ</span>
                  <div class="invalid-feedback">
                    Giá tiền không được bỏ trống và phải đúng định dạng tiền việt
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="shortDescription">Mô tả ngắn:</label>
                <textarea class="form-control" id="shortDescription" name="shortDescription">
                </textarea>
              </div>
            </div><!--form-body.-->
          </div><!--row-inner-left.-->
        </div><!--row.-->
        <div class="row justify-content-center mt-3">
          <button type="submit" class="btn primary btn-lg">MỞ KHÓA HỌC MỚI</button>
        </div>
      </form>

      <div th:replace="web/fragments/modal :: informationModal(
        showCondition=${openCourseStatus == false},
        headerColor='bg-danger',
        title='Mở khóa học thất bại',
        content='Có gì đó sai sai<br>Có thể do hệ thống quá tải, vui lòng thử lại sau'
      )"></div>

    </div><!--container-fluid.-->
  </div><!--card.-->
</div><!--container.-->
</div><!--wrapper content.-->

<div th:replace="web/fragments/general :: footer"></div>
<th:block th:replace="web/fragments/general :: script" />
<script src="https://cdn.ckeditor.com/4.15.0/basic/ckeditor.js"></script>
<script th:src="@{/web/js/image-picker.js}"></script>
<script th:src="@{/web/js/validation.js}"></script>
<script th:src="@{/web/js/course-form-validation.js}"></script>
<script th:replace="web/fragments/modal :: informationModalController(showCondition=${openCourseStatus == false})"></script>

<script>
  CKEDITOR.replace('shortDescription');
  $(function () {
    setThumbnailPicker();
    useValidation();
  })
</script>
</body>
</html>